// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";
@import "compass";
@import "compass/reset";
$bgColor: #3a383e;
$mainColor:#fe6258;
$baseColor:#fff;
$linkColor:#b19570;
$accentColor:#3a383e;
$textColor:#696671;
// Thema
body {
    font-family: "游ゴシック", "Yu Gothic", YuGothic, sans-serif;
    background: $bgColor;
    color: $textColor;
    font-size: 18px;
    a {
        color: $linkColor;
        text-decoration: none;
        @include transition(all, .3s, ease, 0);
        &:hover, &:focus {
            text-decoration: none;
            color: darken($linkColor, 20%);
            @include transition(all, .3s, ease, 0);
        }
    }
}
@mixin thema-accent-light {
    background: $mainColor;
    color: #fff;
    a {
        color: #fff;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}
#content {
    background: $baseColor;
}
#header {
    @include thema-accent-light;
}
#nav-header {
    position: relative;
    height: 100px;
    ul {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        li {
            text-align: center;
        }
        li + li {
            margin-left: 20px;
        }
    }
}
// Layout
.l-col-items {
    overflow: hidden;
    @include legacy-pie-clearfix;
    & > * {
        float: left;
    }
}
.center {
    text-align: center;
}
// module
.tit {
    font-family: quicksand, sans-serif;
    text-align: center;
    margin: 80px auto;
    position: relative;
    font-size: 18px;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, .1);
        position: absolute;
        top: .3em;
    }
 	&::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, .1);
        position: absolute;
        bottom: .3em;
    }  
    span {
    	background:#fff;
    	position: relative;
    	z-index: 1;
    }  
}

.blog-index {
    li {
        border-top: 1px solid #ebeaec;
        &:first-child {
            border: none;
        }
        a {
            display: table;
            position: relative;
            width: 100%;
            height: 100px;
            .txt-blog-index {
                display: table-cell;
                vertical-align: middle;
                .tit-blog-index {
                    font-size: 1.5em;
                    line-height: 1;
                    margin-bottom: 10px;
                }
                .meta-blog-index {
                    font-family: quicksand, sans-serif;
                    opacity: .6;
                    font-size: 70%;
                }
            }
            .thumb-blog-index {
                display: table-cell;
                vertical-align: middle;
                width: 80px;
                height: 80px;
                padding:10px;
            }
        }
    }
}