// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";
@import "compass";
@import "compass/reset";
$bgColor: #3a383e;
$mainColor:#fe6258;
$baseColor:#fff;
$linkColor:#b19570;
$accentColor:#3a383e;
$textColor:#696671;
// Thema
body {
    font-family: quicksand,"游ゴシック", "Yu Gothic", YuGothic, sans-serif;
    background: $bgColor;
    color: $textColor;
    font-size: 18px;
    a {
        color: $linkColor;
        text-decoration: none;
        @include transition(all, .3s, ease, 0);
        &:hover, &:focus {
            text-decoration: none;
            color: darken($linkColor, 20%);
            @include transition(all, .3s, ease, 0);
        }
    }
}
@mixin thema-accent-light {
    background: $mainColor;
    color: #fff;
    a {
        color: #fff;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}
#content {
    background: $baseColor;
}
#header {
    @include thema-accent-light;
    .logo {
        text-indent: -9999px;
        display: inline-block;
        width: 180px;
        height: 90px;
        background:url('../images/9ooky.svg') no-repeat;
        background-size: contain;
    }
}
#nav-header {
    position: relative;
    height: 180px;
    ul {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        li {
            text-align: center;
        }
        li + li {
            margin-left: 20px;
        }
    }
}
// Layout
.l-col-items {
    overflow: hidden;
    @include legacy-pie-clearfix;
    & > * {
        float: left;
    }
}
.center {
    text-align: center;
}
// module
@mixin tit($fz,$cl,$bg) {
    font-family: quicksand, sans-serif;
    text-align: center;
    position: relative;
    font-size: $fz;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: $cl;
        position: absolute;
        top: .3em;
    }
    &::after {
        content: '';
        display: block;
        width: 90%;
        height: 1px;
        background: $cl;
        position: absolute;
        bottom: .3em;
        left: 50%;
        transform: translate(-50%,0);
    }
    span {
        background: $bg;
        position: relative;
        z-index: 1;
        padding: 0 20px;
        display: inline-block;
        letter-spacing: .3em;
    }
}
.tit {
    margin: 80px auto;
    @include tit(18px,#ccc,$baseColor);
}
.tit-dark {
    margin: 40px auto;
    width: 70%;
    font-size: 61.1111%;
    font-weight: bold;
    @include tit(15px,#666,$bgColor);
}
.blog-index {
    li {
        border-top: 1px solid #ebeaec;
        &:first-child {
            border: none;
        }
        a {
            display: table;
            position: relative;
            width: 100%;
            height: 100px;
            .txt-blog-index {
                display: table-cell;
                vertical-align: middle;
                .tit-blog-index {
                    font-size: 1.5em;
                    line-height: 1;
                    margin-bottom: 10px;
                }
                .meta-blog-index {
                    font-family: quicksand, sans-serif;
                    opacity: .6;
                    font-size: 70%;
                }
            }
            .thumb-blog-index {
                display: table-cell;
                vertical-align: middle;
                width: 80px;
                height: 80px;
                padding: 10px;
            }
        }
    }
}
.mask {
    width: 180px;
    -webkit-mask-image: url('../images/mask.svg');
    -webkit-mask-size: 180px 180px;
    -moz-mask-image: url('../images/mask.svg');
    -moz-mask-size: 180px 180px;
    mask-image: url('../images/mask.svg');
    mask-size: 180px 180px;
}
#footer-inner {
    padding:20px 0 40px 0;
    .thumb-footer {
        margin: 40px 0 20px 0;
    }
    .txt-meta {
        font-size: 75%;
        line-height: 1.5;
        text-align: center;
    }
}
.index-sns {
    margin-left: 10px;
        li{
        font-size: 70%;
        margin-bottom: 10px;
        i {
            font-size: 140%;
            vertical-align: middle;
        }
        .list-item-tw:hover {
            color: #57cfff;
        }
        .list-item-bh:hover {
            color: #1769ff;
        }
        .list-item-pin:hover {
            color: #fe6258;
        }        
    }
}
